.custom-editor {
  --editor-border-color: rgb(226, 232, 240);
  --editor-border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.custom-editor .ql-toolbar {
  font-family: inherit;
  border-color: var(--editor-border-color);
  border-top-left-radius: var(--editor-border-radius);
  border-top-right-radius: var(--editor-border-radius);
}

.custom-editor .ql-container {
  font-family: inherit;
  font-size: inherit;
  border-color: var(--editor-border-color);
  border-bottom-left-radius: var(--editor-border-radius);
  border-bottom-right-radius: var(--editor-border-radius);
  flex-grow: 1;
  overflow-y: auto;
}
